@{
    ViewData["Title"] = "Home Page";
}

<section class="content-section">
    <div class="row no-margin">
        <div class="col-sm-3 no-padding">
            <div class="single_process" style="background:#C41735;">
                <h4><span>01</span> idea</h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
        <div class="col-sm-3 no-padding">
            <div class="single_process" style="background:#E41B3F;">
                <h4>
                    <span>02</span> Design
                </h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
        <div class="col-sm-3 no-padding">
            <div class="single_process" style="background:#E62B4C;">
                <h4><span>03</span> Develop</h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
        <div class="col-sm-3 no-padding">
            <div class="single_process" style="background:#E73C5A;">
                <h4><span>04</span> Launch</h4>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about-section all-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                <h1 class="section-heading">ABOUT DEVTHEMES STUDIO</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
        </div>
        <div class="height-60"> </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12 ">
                <div class="inner text-center scrollReveal sr-bottom sr-delay-1">
                    <i class="ion-plane"></i>
                    <h2>SLEEK DESIGN</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="inner text-center scrollReveal sr-bottom sr-delay-2">
                    <i class="ion-ios-heart-outline"></i>
                    <h2>CLEAN CODE</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="inner text-center scrollReveal sr-bottom sr-delay-3">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <h2>CREATIVE IDEAS</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="inner text-center scrollReveal sr-bottom sr-delay-4">
                    <i class="ion-help-buoy"></i>
                    <h2>FREE SUPPORT</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter-section" style="background: url(images/bg-1.jpg) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12 col-md-3">
                <div class="counter ">
                    <i class="ion-ios-people"></i>
                    <span class="count">1200</span>
                    <label>PROJECTS</label>
                    <p class="text-color">They can’t be wrong</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 col-md-3 ">
                <div class="counter ">
                    <i class="ion-ios-people"></i>
                    <span class="count">800</span>
                    <label>TOTAL EMPLOYEES</label>
                    <p class="text-color">They can’t be wrong</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 col-md-3">
                <div class="counter ">
                    <i class="ion-ios-people"></i>
                    <span class="count">220</span>
                    <label>OUR OFFICES</label>
                    <p class="text-color">They can’t be wrong</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12 col-md-3">
                <div class="counter ">
                    <i class="ion-ios-people"></i>
                    <span class="count">3000</span>
                    <label>CLIENTS</label>
                    <p class="text-color">They can’t be wrong</p>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="services" class="all-space">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                <h1 class="section-heading">services</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
        </div>
        <div class="height-60"> </div>
        <div class="row">

            <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
                <ul class="row list-unstyled services-list">
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom">
                        <i class="ion-ios-briefcase-outline"></i>
                        <div class="content">
                            <h4>Marketing</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-1">
                        <i class="ion-images"></i>
                        <div class="content">
                            <h4>Web Design</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-2">
                        <i class="ion-bag"></i>
                        <div class="content">
                            <h4>E-commerce</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-3">
                        <i class="ion-hammer"></i>
                        <div class="content">
                            <h4>Web Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-4">
                        <i class="ion-ios-people-outline"></i>
                        <div class="content">
                            <h4>Free Support</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                    <li class="col-sm-6 col-xs-12 clearfix scrollReveal sr-bottom sr-delay-5">
                        <i class="ion-iphone"></i>
                        <div class="content">
                            <h4>App Development</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
                            </p>
                        </div>
                    </li>
                    <!--service col end with li-->
                </ul>
                <!--service list end-->
            </div>
        </div>
        <!--row end-->
        <hr>
        <div class="height-40"></div>
        <div class="text-center scrollReveal sr-bottom">
            <h1>Want to work with us</h1>
            <a href="#" class="btn btn-dark-border btn-lg">Our Portfolio</a>
        </div>
    </div>
</section>
<section class="counter-section " style="background: url(images/bg-2.jpg) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                <h2 class="parallax-text">" A Super Simple Minimal One Page for Creative & Small Agencies "</h2>
            </div>
        </div>
    </div>

</section>
<section id="team" class="team-section all-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                <h1 class="section-heading">Our Team</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
            <div class="height-40"> </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 scrollReveal sr-bottom sr-delay-1">
                <div class="team">
                    <div class="team-img" style="background-image:url(images/team4.png)">

                        <div class="team-con ">
                            <h3>Jesse Peterson </h3>
                            <p>Video & Motion Graphics</p>
                            <ul class="list-inline team-socials">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 scrollReveal sr-bottom sr-delay-2">
                <div class="team">
                    <div class="team-img" style="background-image:url(images/team3.png)">

                        <div class="team-con ">
                            <h3>Jesse Peterson </h3>
                            <p>Video & Motion Graphics</p>
                            <ul class="list-inline team-socials">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 scrollReveal sr-bottom sr-delay-3">
                <div class="team">
                    <div class="team-img" style="background-image:url(images/team2.png)">

                        <div class="team-con ">
                            <h3>Jesse Peterson </h3>
                            <p>Video & Motion Graphics</p>
                            <ul class="list-inline team-socials">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-xs-12 col-sm-3 col-md-3 scrollReveal sr-bottom sr-delay-4">
                <div class="team">
                    <div class="team-img" style="background-image:url(images/team1.png)">

                        <div class="team-con ">
                            <h3>Jesse Peterson </h3>
                            <p>Video & Motion Graphics</p>
                            <ul class="list-inline team-socials">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="counter-section" style="background: url(images/bg-2.jpg) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="parallax-text">" A Super Simple Minimal One Page for Creative & Small Agencies "</h2>
            </div>
        </div>
    </div>

</section>
<section id="work" class="work-section all-space">
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="col-lg-12 col-xs-12 scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                <h1 class="section-heading">Our work</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
            <div class="height-40"> </div>
        </div>
        <div class="height-50"> </div>
        <div class="Our-work">
            <div class="row no-margin">
                <div class="col-sm-6 col-md-6 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w9.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w8.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w3.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w4.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w5.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w6.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w7.jpg" alt="work">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xs-12 no-padding">
                    <div class="work-wrapper">
                        <a href="#" class="overlay">
                            <div class="overlay-inner">
                                <h4 class="base">Creative Design</h4>
                                <div class="line"></div>
                                <p>Print Media</p>
                            </div>
                        </a>
                        <img src="images/work/w8.jpg" alt="work">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="pricing" class="pricing-section">
    <div class="container">
        <div class="row no-margin">
            <div class="col-lg-12 col-xs-12 text-center">
                <h1 class="section-heading">pricing</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
        </div>
        <div class="height-60"> </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="pricing-table scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1 ">
                    <div class="pricing-head">
                        <div class="price-tag-circle">
                            <span class="price">0</span>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <h4 class="price-title">Free Trial</h4>
                        <ul>
                            <li>Free One Year Domain</li>
                            <li>Free Installation</li>
                            <li>Free 1GB Linux Hosting</li>
                            <li>Unlimited Revision</li>
                            <li>Five Alternative Designs</li>
                            <li>Lifetime Support</li>
                            <li>Moneyback Guaranteed</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-default btn-pricing">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="pricing-table scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                    <div class="pricing-head">
                        <div class="price-tag-circle">
                            <span class="price">29</span>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <h4 class="price-title">SILVER PLAN</h4>
                        <ul>
                            <li>Free One Year Domain</li>
                            <li>Free Installation</li>
                            <li>Free 1GB Linux Hosting</li>
                            <li>Unlimited Revision</li>
                            <li>Five Alternative Designs</li>
                            <li>Lifetime Support</li>
                            <li>Moneyback Guaranteed</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-default btn-pricing">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="pricing-table scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                    <div class="pricing-head">
                        <div class="price-tag-circle">
                            <span class="price">59</span>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <h4 class="price-title">GOLDEN PLAN</h4>
                        <ul>
                            <li>Free One Year Domain</li>
                            <li>Free Installation</li>
                            <li>Free 1GB Linux Hosting</li>
                            <li>Unlimited Revision</li>
                            <li>Five Alternative Designs</li>
                            <li>Lifetime Support</li>
                            <li>Moneyback Guaranteed</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-default btn-pricing">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="pricing-table scrollReveal sr-bottom sr-ease-in-out-quad sr-delay-1">
                    <div class="pricing-head">
                        <div class="price-tag-circle">
                            <span class="price">99</span>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <h4 class="price-title">PLATINUM PLAN</h4>
                        <ul>
                            <li>Free One Year Domain</li>
                            <li>Free Installation</li>
                            <li>Free 1GB Linux Hosting</li>
                            <li>Unlimited Revision</li>
                            <li>Five Alternative Designs</li>
                            <li>Lifetime Support</li>
                            <li>Moneyback Guaranteed</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#" class="btn btn-default btn-pricing">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clients" class="clints-section">
    <div class="height-60"> </div>
    <div class="container">
        <div class="row no-margin">
            <div class="col-lg-12 col-xs-12 text-center">
                <h1 class="section-heading">OUR CLINTS</h1>
                <p>Lorem Ipsum is simply dummy text </p>

            </div>
        </div>
        <div class="height-60"> </div>
        <div class="clints-block">
            <div id="owl-clients" class="owl-no-pagination ">
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c1.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c2.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c3.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c4.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c5.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c1.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c1.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c2.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c3.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c4.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c5.png" alt="clints" class="img-responsive">
                    </div>
                </div>
                <div class="item">
                    <div class="clints-box">
                        <img src="images/clients/c1.png" alt="clints" class="img-responsive">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>