@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Aiursoft Account Management Center</title>
    <link rel="stylesheet" href="@Values.CdnServerAddress/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
        </div>
        <div class="col-md-4">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
        </div>
        <div class="col-md-4">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
        </div>
        <a class="btn btn-success btn-sm" asp-controller="Account" asp-action="Index">Account Center</a>
    </div>
    <script src="@Values.CdnServerAddress/lib/jquery/dist/jquery.min.js"></script>
    <script src="@Values.CdnServerAddress/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
