@model Developer.Models.AppsViewModels.CreateAppViewModel
@{
    ViewData["Title"] = "Create New App";
    Layout = "_AppLayout";
}

<div class="main-content">
    @if (!Model.ModelStateValid)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Invalid Input!</strong>
            <div asp-validation-summary="All"></div>
        </div>
    }
    <div class="row row-inline-block small-spacing">
        <form asp-controller="Apps" asp-action="CreateApp" method="post" class="col-xs-12" enctype="multipart/form-data">
            <div class="box-content">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="AppName"></label>
                            <input asp-for="AppName" type="text" class="form-control" placeholder="Enter your app name...">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label asp-for="AppDescription"></label>
                            <textarea class="form-control" asp-for="AppDescription" rows="3" placeholder="Enter a short description about your app..."></textarea>
                            <div id="toastTypeGroup">
                                <label asp-for="AppPlatform"></label>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="0" id="x0" checked="checked">
                                    <label for="radio-1">Cross Platform</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="1" id="x1">
                                    <label for="x1">Android</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="2" id="x2">
                                    <label for="x2">iOS</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="3" id="x3">
                                    <label for="x3">Windows Desktop</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="4" id="x4">
                                    <label for="x4">Windows UWP</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="5" id="x5">
                                    <label for="x5">Linux</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="6" id="x6">
                                    <label for="x6">Mac OS</label>
                                </div>
                                <div class="radio success">
                                    <input type="radio" asp-for="AppPlatform" value="7" id="x7">
                                    <label for="x7">Web \ HTML</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div id="positionGroup">
                            <div class="form-group">
                                <label>Position</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r0" value="0" checked="checked">
                                <label for="r0">Development</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r1" value="1">
                                <label for="r1">App for aiursoft</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r2" value="2">
                                <label for="r2">App for pages</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r3" value="3">
                                <label for="r3">Books</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r4" value="4">
                                <label for="r4">Business</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r5" value="5">
                                <label for="r5">Communication</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r6" value="6">
                                <label for="r6">Education</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r7" value="7">
                                <label for="r7">Entertainment</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r8" value="8">
                                <label for="r8">Fashion</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r9" value="9">
                                <label for="r9">Finance</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r10" value="10">
                                <label for="r10">Food &amp; Drink</label>
                            </div>
                            <div class="radio info">
                                <input type="radio" asp-for="AppCategory" id="r11" value="11">
                                <label for="r11">Game</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-content">
                <h4 class="box-title">Upload App Image</h4>
                <div class="dropdown js__drop_down">
                    <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                    <ul class="sub-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else there</a></li>
                        <li class="split"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <input type="file" name="file" class="dropify" data-max-file-size="2M" data-max-height="2000" data-max-weight="3000" data-allowed-file-extensions="png jpg bmp" data-default-file="/images/appdefaulticon.png"/>
                <p class="help margin-top-10">Only jpg, bmp, png images, 2M max, 2000px max height and 3000px max weithg.</p>
                <div class="col-xs-12 margin-top-30">
                    <button type="submit" class="btn btn-primary btn-sm">Create</button>
                    <button type="reset" class="btn btn-danger btn-sm" id="cleartoasts">Clear</button>
                    <a class="btn btn-info btn-sm" asp-controller="Apps" asp-action="AllApps">Back to list</a>
                </div>
            </div>
        </form>
    </div>
    @{
        await Html.RenderPartialAsync("_footer");
    }
</div>