@charset "utf-8";
/* CSS Document */
@media (max-width: 767px) {
	

.navbar-default {
    background-color: #000;
}
.slider-banner .slider-table .slider-vm h1 {
    color: #fff;
    font-size: 22px;}
.slider-banner .slider-table .slider-vm p {
  
    margin-bottom: 5px;
    font-size: 14px;
   
}	
.btn-lg {
    padding: 10px 15px;
}
.slider-banner .slides img{ height:450px;}	
.main-slider .flex-direction-nav a {
    
    font-size: 20px;
	
}

.content-box-text {
  
    margin-bottom: 35px;
}
.h1, h1 {
    font-size: 26px;
}
.inner {
    margin-bottom: 20px;
}
.team .team-img {
    
    background-size: 100%;

    margin-bottom: 20px;
}
.mouse-down {

    bottom: 30px;}
	.parallax-text {
   
    font-size: 27px;
    line-height: 42px;
  
}
.counter-section {
    width: 100%;
    min-height: 300px;
    padding-top: 100px;}
	.footer-widget-social ul {
    text-align: center;     padding: 0;}
.footer-widget-social a {
   
    border-radius:50%;
   
    font-size: 14px;
    line-height: 15px;
    padding: 8px;
    
    width: 30px;
    height: 30px;
   
   
}	
.back-to-top {
 
    bottom: 15px;
    right: 15px;
 
    width: 40px;
    height: 40px;
 

 
 
    font-size: 13px;
   
    border-radius:50%;
}

}
@media (min-width:460px) and (max-width: 767px) {
	
	.col-sm-3.col-xs-12{ width:50%; float:left}
	.col-sm-4.col-xs-12{ width:50%; float:left}
	.col-sm-6.col-xs-12{ width:50%; float:left}
	
	}
@media (min-width:768px) and (max-width: 992px) {
.nav>li>a {
    
    padding: 10px 10px;
}
}





